/*FOOTER*/

/*Logo*/                                                    /* CSS para el footer que se presenta en todas las páginas */
.logofooter{
    margin-top: 50px;
    margin-left: 80px;
}

/*Caracteristicas generales del footer*/
.divfooter{
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 10px;
    padding-bottom: 50px;
    background: #000;
    color: white;
}

.divfooter, .divfooter ul li, .divfooter ul li a {
    list-style: none;
    text-decoration: none;
    display: flex;
    color: white;
}


/*Caracteristicaas de los contenedores*/
.comunidad, .quienessomos, .contactanos{
    margin-left: 100px;
}

/*Caracteristicas de iconos*/
.comunidad ul{
   display: inline-flex;
   padding: 30px 80px;
}
.comunidad li{
    margin-right: 50px;
}
.comunidad ion-icon{
    margin-left:30px;
    margin-top: 20px;
    font-size:40px;
}


/*Titulo de apartados*/
h3{
    margin-bottom: 10px;
    font-size: 25px;
}


/*Efecto de cambio de color y opacidad de los enlaces*/
.comunidad a, .quienessomos a, .contactanos a{
    opacity: 70%;
    font-size: 17px;
}

.divfooter a:hover{
    opacity: 100%;
    color:#f4b41a;
}

/*Espaciado entre enlaces*/
.divfooter li a{
    margin-bottom: 2px;
}