/*MENU2*/
.banner4{
    margin-left: 150px;
    margin-top: 20px;               /*CSS para el navegador de los tipos de lavado*/
    width: 1700px;
    height: 450px
}

#menu2{
    margin-top: 20px;
    margin: 0 auto;
    width:464px;
    display:block;
    text-align:center;
    font-family:Montserrat;
    left:auto;
    
}

#menu2 ul{
    font-size:0;
    text-align:center;
    color:#EEEEEE;
    background-color: #000;
    border: transparent;
    list-style:none;
    z-index:9;
} 


#menu2 li{
    display:inline-flex;
    position:relative;
}

#menu2 >ul>li>span, #menu2 >ul>li>a {   
    font-size:22px;
    color:inherit;
    text-decoration:none;
    padding:24px 20px; 
    text-transform:uppercase;
    letter-spacing:2px;   
    display:block;   
    position:relative;
}

 #premium{  
    background-color:#f4b41a;
}

/*BODY*/
#cajatarifa{
    border-radius: 25px;
    margin-left: 340px;
    width: 1200px;
    background-color: #414141;
    font-size: 18px;
    padding: 20px 50px;
    border:solid 5px #f4b41a;
    font-family: Candara;
    display: inline-flex;
    color: white;
}

.contenedortexto{
    float:left;
}
#cajatarifa img{
    float:right;
    margin-left:100px;
    margin-top: 5px;
}

#listadotarifa{
    list-style-type: disc;
}

#listadotarifa li{
    padding: 5px;
    margin-left: 17px;
}

#tablaprecio{
    border-spacing: 5px;
}


#tablaprecio th, td{
    padding: 5px;
}


.banner2{
    margin-top:100px;
    width:1903px;
    height:180px;
    background: #f4b41a;
    display: inline-flex;
    box-shadow: 0px 0px 10px;
}
.texto{
    float: left;
    margin-left: 20%;
    float: left;
    margin-top: 40px;
    margin-right: 140px;
}
.botones{
    float: right;
    display: inline-flex;
}

a{
    text-decoration: none;
}

.servicios, .reserva{
    box-shadow: 0 0 5px black;
    text-align: center;
    margin-top: 75px;
    margin-right: 20px;
    color: white;
    background: #212121;
    border-radius: 3px;
    width: 200px;
    height: 30px;
    font-size: 22px;
}

.servicios:hover, .reserva:hover{
    color: #f4b41a;
}

